# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
tjReportsvenv/

# Environment variables file
.env

# Database dumps
dump.rdb

# Docker-related files
*.dockerfile

# Python environment
*.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/