{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="tab">
    <a class="home-btn" href="/"><img src="../static/assets/homeIcon.svg" alt="Home Icon"></a>
    <button class="tab-btn1 tablink active" data-tab-value="#tab1">Step 1</button>
    <button class="tab-btn2 tablink" data-tab-value="#tab2">Step 2</button>
</div>

<div class="tabcontent active" id="tab1">
    <div class="container">
        <div class="left-panel">
            <div class="initial-section">
                <div class="report-name-title">New Report</div>
                <input type="text" class="report-name-input" placeholder="Report Name">
                
            </div>
            <div class="cards-section">
                <div class="subheading-left-panel">All Tables</div>
                <div class="table-search">
                    <input type="text" class="table-search-input search-input" placeholder="Table name">
                </div>
                {% for table_name in table_names %}
                    <div class="card selectable {{ table_name }}" table-name="{{ table_name }}">
                        <div class="icon"></div>
                        <div class="title"> {{ table_name }} </div>
                        <div class="description"></div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="middle-panel">
            <div class="middle-panel-heading">Select Columns</div>
            <div class="foreign-key-btn">Switch to table relation selection</div>
            <div id="selectAllColumns" class="selectable">Select All</div>
            <div class="selected-tables">
                {% for table_name in table_names  %}
                    <div class="table-container {{ table_name }} " id="{{ loop.index }}">
                        <label for="{{ loop.index }}" class="table-name" table-name="{{ table_name }}">{{ table_name }}</label>
                        <div class="list selectable {{ table_name }}" data-table-name="{{ table_name }}"></div>
                    </div>
                {% endfor %}
            </div>
            <!-- <div class="list selectable"></div> -->
        </div>
        <div class="right-panel">
            <div class="table-relations">
                <div class="relations-subheading">Selected Table relations</div>
                <div class="relations-list"></div>
            </div>
            <div class="preview">
                <div class="subheading">Recent Reports</div>
                {% for report in last_three_reports %}
                    <div class="preview-item report">
                        <div class="image-placeholder">
                            <div class="report-created-date"> {{ report['date_time_created'].strftime('%d-%m-%Y') }} </div>
                            <div class="report-created-date"> at {{ report['date_time_created'].strftime('%H:%M') }} </div>
                        </div>
                        <div class="preview-item-body">
                            <div class="preview-title report-name">{{ report['report_name']}}</div>
                            <div class="preview-body report-tables">Tables used: {{ report['active_table_names'] }}</div>
                            <div class="report-buttons">
                                <a href="/report/{{ report['_id'] }}" class="generate-report">Generate report</a>
                                <a class="load-report" data-report-id="{{ report['_id'] }}">Edit report</a>
                            </div>
                        </div>    
                    </div>
                {% endfor %}
            </div>                
        </div>
        <button class="next navigation-btn">Next</button>
    </div>
</div>

<!---------------------------------------------------- Tab2 ---------------------------------------------------->

<div class="tabcontent" id="tab2">
    <div class="container">
        <div class="left-panel">
            <div class="initial-section">
                <div class="initial-subheading">Select Time Period For:</div>
                {% for table_name in table_names %}
                    <div class="list {{ table_name }}" data-table-name="{{ table_name }}"></div>
                {% endfor %}

                <div class="date-section">
                    <div class="date-selector-subheading">Choose Report Period</div>
                <div id="reportrange">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
                </div>
                
            </div>
            <div class="cards-section">
                
            </div>
        </div>
        <div class="middle-panel">
            <div class="middle-panel-heading">Select Columns to sort by - </div>
            <div class="selected-tables">
                {% for table_name in table_names  %}
                    <div class="table-container {{ table_name }}" id="{{ loop.index }}">
                        <label for="{{ loop.index }}" class="table-name" table-name="{{ table_name }}">{{ table_name }}</label>
                        <div class="list {{ table_name }}" data-table-name="{{ table_name }}"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-panel">
            <div class="search-container">
                <div class="subheading-right-panel">Choose Column for Search</div>
                <div class="selected-tables">
                    {% for table_name in table_names  %}
                        <div class="table-container" id="{{ loop.index }}">
                            <label for="{{ loop.index }}" class="table-name" table-name="{{ table_name }}">{{ table_name }}</label>
                            <div class="list {{ table_name }}" data-table-name="{{ table_name }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="prev navigation-btn">Previous</button>
        <button class="next navigation-btn generate-report-btn">Generate Report</button>
    </div>
</div>


<!-- Table Relation Modal -->
<div id="relationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close"><img src="../static/assets/cross.svg" alt="cross"></span>
        <p>Please specify a table relation</p>
    </div>
</div>

<!-- Table Relation Modal -->
<div id="step1Modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close"><img src="../static/assets/cross.svg" alt="cross"></span>
        <p>Please enter a report Name</p>
    </div>
</div>

<div id="isUniqueDiv" style="display: none;"></div>

{% endblock %}