{% extends 'base.html' %}

{% block title %} HomePage {% endblock %}

{% block content %}

    <div id="homepage">
        <div class="tab">
            <h1>Techjockey Reports</h1>
        </div>
    
        <div class="home-container">
            <div class="left-panel">
                <div class="left-heading">Report History</div>
                <div class="report-container">
                    {% for report in last_five_reports %}
                        <div class="report">
                            <div class="date-created-container">
                                <div>Report Created:</div>
                                <div class="report-created-date"> {{ report['date_time_created'].strftime('%d-%m-%Y') }} </div>
                                <div class="report-created-date"> at {{ report['date_time_created'].strftime('%H:%M') }} </div>
                            </div>
                            <div class="report-info">
                                <div class="report-name"> {{ report['report_name']}} </div>
                                <div class="report-tables"> Tables used: {{ report['active_table_names'] }} </div>
                                {% if report['report_start_date'] or report['report_end_date'] %}
                                    <div class="report-period">Period: {{ report['report_start_date'] }} to {{ report['report_end_date'] }} </div>
                                {% else %}
                                    <div class="report-period"> No specified period </div>
                                {% endif %}                                
                            </div>
                            <div class="report-buttons">
                                <a href="/report/{{ report['_id'] }}" class="generate-report">Generate report</a>
                                <a href="/dashboard" class="load-report">Edit report</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right-panel">
                <div class="top-section">
                    <div class="top-subeading">User</div>
                </div>
                <div class="bottom-section">
                    <div class="right-subheading">Generate Custom Report</div>
                    <a href="/dashboard" method="get">Create Report</a>
                </div>
            </div>
        </div>
    </div>
    



{% endblock %}