{% extends 'base.html' %}

{% block title %} HomePage {% endblock %}

{% block content %}

    <div id="homepage">
        <div class="tab">
            <h1>Techjockey Reports</h1>
        </div>
    
        <div class="container">
            <div class="left-panel">
                <div class="left-heading">Report History</div>
                <div class="report-container">
                    
                </div>
            </div>
            <div class="right-panel"></div>
        </div>
    </div>
    



{% endblock %}