{% extends "base.html" %}

{% block title %} {{report_name}} {% endblock %}


{% block content %}

    <div class="header">
        <a class="home-btn" href="/"><img src="../static/assets/homeIcon.svg" alt="Home Icon"></a>
        <h1 class="report-name-final"> {{ report_name }} </h1>
    </div>

    <div class="filter-container">
        <div class="container-1">
            <div class="name-search-div container-1-item">
            <input type="text" name="name-search" class="item-div" id="name-search" placeholder="{{ ' '.join(active_search_column.split('_')) }}">
            </div>
            <div class="lead-status-select-div container-1-item">
                <select class="lead-status-select item-div" >
                    <option value="all">Select Lead Status</option>
                    {% for lead_status in lead_status_unique_values %}
                        <option value="{{ lead_status }}">{{ lead_status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filters container-1-item">
                <div class="item-div filter-item">
                    Choose Filters
                    <div class="filter-svg"><img src="../static/assets/burger.svg" alt="burger"></div>
                </div>                
            </div>
        </div>
        <div class="container-2">
            <div class="export-btns">
                <div class="export-btn" id="toCSV">Export to CSV</div>
                <div class="export-btn" id="toExcel">Export to Excel</div>
            </div>
        </div>
    </div>

    
    <div class="table-wrapper">
        <table class="leads-table" data-search-column="{{ active_search_column }}" data-datetime-column="{{ active_datetime_column }}">
            <thead>
                <tr>
                    {% for column in column_names %}
                        {% if column.split('.')[1] in columns_for_sorting %}
                            <th class="{{ column.split('.')[1] }} sort" data-column-name="{{ column.split('.')[1] }}">{{ column }} <span class="icon-arrow">&UpArrow;</span></th>
                        {% else %}
                            <th class="{{ column.split('.')[1] }}" data-column-name="{{ column.split('.')[1] }}">{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                    <tr class="visible">
                        {% for column in column_names %}
                            <td class="{{ column.split('.')[1] }}">{{ row[column.split('.')[1]] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
           
        </table>
    </div>
    <div class="pagination-container"></div>
    
    <div id="filters-popup" style="display: none;">
        <div class="popup-content">
            <span class="close"><img src="../static/assets/cross.svg" alt="cross"></span>
            <div class="filter-popup-heading">Choose Filters</div>
            <input type="text" class="popup-columns-search" placeholder="search columns">
            <ul class="popup-columns-list">
                {% for column in column_names %}
                    <li class="popup-column-item" data-column-name="{{ column.split('.')[1] }}">{{ column }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}