{% extends "base.html" %}

{% block title %} {{report_name}} {% endblock %}


{% block content %}

    <div class="header">
        <a href="/"><img src="../static/assets/homeIcon.svg" alt="Home Icon"></a>
        <h1> {{ report_name }} </h1>
    </div>

    <div class="filter-container">
        <div class="container-1">
            <div class="name-search-div">
            <input type="text" name="name-search" id="name-search" placeholder="{{ ' '.join(active_search_column.split('_')) }}">
            </div>
            <div class="lead-status-select-div">
                <select class="lead-status-select" >
                    <option value="all">Select Lead Status</option>
                    {% for lead_status in lead_status_unique_values %}
                        <option value="{{ lead_status }}">{{ lead_status }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container-2">
            <div class="export-btns">
                <div class="export-btn" id="toCSV">Export to CSV</div>
            </div>
        </div>
    </div>

    
    <div class="table-wrapper">
        <table class="leads-table" data-search-column="{{ active_search_column }}" data-datetime-column="{{ active_datetime_column }}">
            <thead>
                <tr>
                    {% for column in column_names %}
                        {% if column in columns_for_sorting %}
                            <th class="{{ column }} sort" data-column-name="{{ column }}">{{ column }} <span class="icon-arrow">&UpArrow;</span></th>
                        {% else %}
                            <th class="{{ column }}" data-column-name="{{ column }}">{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                    <tr>
                        {% for column in column_names %}
                            <td class="{{ column }}">{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
           
        </table>
    </div>
    

{% endblock %}