/* exo-2-latin-wght-normal */
@font-face {
    font-family: 'Exo 2 Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/exo-2:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

:root {
    --primary-color: #C5C5B9;
    --primary-hover-color: #aeaea6;
    --secondary-color: #31312F;
    --text-color: #E5E1D8;
}

::selection {
    color: var(--secondary-color);
    background: #E2E3DD;
  }

html {
    background-color: #444444;
    font-family: 'Exo 2 Variable', sans-serif;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

body {
    color: var(--text-color);
}

/* ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------- Homepage CSS -------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

#homepage .tab {
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100svh;
}

#homepage .left-panel {
    background-color: var(--secondary-color);
    width: 75%;      
}

#homepage .left-heading {
    padding-left: 25px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
}

#homepage .report-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    align-items: center;
}

#homepage .report {    
    margin-bottom: 10px;   
    height: 20%; 
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #635c5c;
    width: 90%;
}

#homepage .report .date-created-container {
    margin-right: 40px;
    margin-left: 10px;
    background-color: #444444a5;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 80px 80px 0;    
}

.report-created-date {
    font-size: 20px;
    margin-top: 3px;
}

.report-info {
    display: grid;
    grid-template: 1fr 1fr / 200px 300px;
    column-gap: 20px;
    row-gap: 10px;
}

#homepage .report .report-name {
    display: flex;
    align-items: center;
    font-size: 28px;
    grid-row: 1 / span 2;
}

#homepage .report .report-tables {
    font-size: 18px;
}

.report-buttons {
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.report-buttons a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.report-buttons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    transition: .4s;    
    opacity: 0;
}

.report-buttons a:nth-child(2) {
    background-color: transparent;
    color: var(--primary-color);
}

.report-buttons a:nth-child(2):hover {
    color: var(--secondary-color);
}

.report-buttons a:nth-child(2)::before {
    background-color: var(--primary-color);    
}

.report-buttons a:hover {
    color: var(--primary-color);    
}

.report-buttons a:hover::before {
    width: 100%;
    opacity: 1;
}

#homepage .right-panel {
    width: 25%;
    border: none;
    padding: 0;
    margin-left: 15px;  
    height: 100%;  
    display: flex;
    flex-direction: column;
}

#homepage .right-panel .top-section {
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color);
}

#homepage .right-panel .top-section .top-subeading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

#homepage .right-panel .bottom-section {
    background-color: var(--primary-color);
    border: 5px solid var(--secondary-color);    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    /* width: 100%; */
    border-radius: 10px;
}

#homepage .right-panel .right-subheading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

#homepage .right-panel a {
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    height: 60px;
    width: 85%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 26px;
    margin-top: 60px;
    border: 5px solid var(--secondary-color);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
}

#homepage .right-panel a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: all 0.3s ease-in;
    border-radius: 40px;
    opacity: 0;
}

#homepage .right-panel a:hover {
    color: var(--secondary-color);
    font-size: 30px;
}


#homepage .right-panel a:hover::before {
    width: 100%;
    opacity: 1;
}


/* -----------------------------------------------------------------------------------------------------  */
/* ------------------------------------------- Dashboard CSS -------------------------------------------  */
/* -----------------------------------------------------------------------------------------------------  */

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    z-index: -10;
}

.tab {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    background-color: var(--secondary-color);
    height: 7vh;
}


.tablink {
    left: -15px;
    top: 15px;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    height: 35px;
    width: 100px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    font-size: 18px; 
    margin-bottom: 0;
    transition: transform 0.2s ease-in; 
}

.tablink:nth-child(2) {
    margin-left: 80px;
}

.tablink.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    transform: scale(1.2);
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
}

.left-panel, .middle-panel, .right-panel {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

.left-panel {
    background-color: transparent;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: none;
    padding: 0%;
}

.initial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 40%;
}

.report-name-title {
    font-size: 24px;
    padding-top: 7px;
}

.report-name-input {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    padding-left: 16px;
    margin-top: 18px;
}

.report-name-input::placeholder {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 500;
}

.report-name-input:focus {
    outline: none;
    box-shadow: 0 0 4px 2px var(--primary-color)

}

.report-name-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 60%;
    height: 35px;
    border-radius: 50px;
    border: var(--primary-color) 2px solid;
    margin-top: 12px;
    padding-bottom: 2px;
    color: var(--primary-color);
    letter-spacing: 1px;
    cursor: pointer;
}




.cards-section {
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    border: var(--secondary-color) 5px solid;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheading-left-panel {
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color );
}

.card {
    width: 80%;
    position: relative;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card.active,
.card:hover {
    background-color: var(--primary-hover-color);
}

.card.active {
    overflow: hidden;
    color: var(--primary-color);
    /* transition: all 1s ease-in; */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 100%;
    background-color: var(--secondary-color);
    /* z-index: -1; */
    transition: all 0.2s ease-in;
    border-radius: 40px;
    opacity: 0;
}

.card.active::before {
    width: 100%;
    opacity: 1;
}


.icon {
    /* left: 220px; */
    position: relative;
    width: 43px;
    min-width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 10px;
    padding: 2px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    
}

.card.active .icon {
    /* left: 220px; */
    /* transform: translateX(215px); */
    
    background-color: var(--primary-color);
}

.description, .title {
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 3px;
    margin-bottom: 3px;
    transition: all 0.3s ease-in;
    z-index: 3;
}



.description {
    margin-left: auto;
    margin-right: 3px;
    color: #888888;
}



.middle-panel {
    width: 40%;
    overflow: scroll;
}

.middle-panel-heading {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;    
}

#selectAllColumns {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    padding: 5px;
}

#selectAllColumns:hover {
    background-color: #444444;
}

#tab1 .selected-tables {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.list {
    display: flex;
    flex-direction: column;
}


.list .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list .checkbox-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.list .item-container input {
    opacity: 0;
    z-index: 2;
}

.list .checkbox-span {    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    /* transition: all .2s ease-in; */
}

.list .checkbox-container input:checked~.checkbox-span {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    /* outline-offset: 2px; */
}

.list .checkbox-container input:active~.checkbox-span {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.list-item {
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 100%;
    margin: 3px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


.list-item:hover {
    background: var(--primary-hover-color);
    color: var(--secondary-color);

}


.list-item.active {
    background:  #96968d;
    color: var(--secondary-color);

}


.right-panel {
    width: 25%;
    background-color: transparent;
    box-shadow: none;
    padding: 15px;
    border: 5px solid var(--secondary-color);
    color: var(--secondary-color);
}


.subheading {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.preview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.image-placeholder {
    width: 80px;
    height: 80px;
    background-color: #c0c0c0;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-item-body {
    padding-left: 10px;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    flex: 2;
}

.preview-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.preview-body {
    text-align: left;
    margin-bottom: 7px;
}

/* ------------------------------------------------- Tab2  ------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

.initial-subheading {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 10px;
}

.date-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.date-selector-subheading {
    margin-top: 30px;
    font-size: 24px;
}

#reportrange {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px 10px;
    padding-bottom: 7px; 
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: var(--primary-color) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.daterangepicker.ltr.show-ranges.opensright {
    background-color: var(--secondary-color);
}

.daterangepicker.ltr.show-ranges.opensright.show-calendar {
    width: 820px;
}

.daterangepicker .ranges li:hover,
.daterangepicker .ranges li.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.daterangepicker .calendar-table {
    width: 310px;
    /* border-radius: 5px; */
    background-color: var(--secondary-color);
    padding: 0;
    border: none;
}

.daterangepicker .drp-calendar.left,
.daterangepicker .drp-calendar.right,
.daterangepicker .table-condensed {
    max-width: 300px;
    margin-right: 10px;
    padding: 10px;
    
}

.daterangepicker .drp-calendar.left .table-condensed {
    margin-left: 10px ;
}

.daterangepicker .table-condensed td {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: var(--secondary-color) 1px solid;
    margin: 1px;
    border-radius: 0;
    /* color: #FFFFFF; */
}

.daterangepicker .table-condensed td.off {
    background-color: #A09F8D;
    color: var(--secondary-color);

}

.daterangepicker .table-condensed td.active.start-date,
.daterangepicker .table-condensed td.active.end-date {
    background-color: #343431;
    color: var(--text-color);
    border-radius: 7px;
    scale: 1.2;
}

.daterangepicker .table-condensed td.in-range {
    background-color: #787871;
    color: var(--secondary-color);

}

.daterangepicker .table-condensed thead tr:nth-child(1) {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.daterangepicker .drp-calendar.right {
    max-width: 300px;
    padding: 10px;
    margin-left: 10px;
}

.table-container {
    display: none;
}

.table-name {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600; 
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.table-name:hover {
    background-color: #787871;
}

.table-name::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.table-container .list {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease-in;
}

.table-name.active ~ .list {
    max-height: fit-content;
    /* height: 400px; */
    
}

.table-name.active::before {
    content: '-';
}

#tab2 .table-container .list .list-item {
    margin-left: 30px;
    font-size: 16px;
    border: none;
}

#tab2 .right-panel {
    background-color: transparent;
    border: 5px solid var(--secondary-color);
}

#tab2 .right-panel .subheading-right-panel {
    font-size: 24px;
    font-weight: 500;
    
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}

#tab2 .right-panel .table-name {
    color: var(--secondary-color);
}

#tab2 .right-panel .list-item {
    color: var(--secondary-color);
}


#tab2 .right-panel .list-item:hover {
    background: #787871;
    color: var(--primary-color);

}


#tab2 .right-panel .list-item.active {
    background:  #343431;
    color: var(--primary-color);

}



.btn {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-btn {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 25px 35px;
    border-radius: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 55px;
    box-shadow: 0 7px 25px #ffffff87;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    font-size: 17px;
    transition: transform 0.2s ease;
}

#tab2 .navigation-btn {
    box-shadow: 0 7px 25px #000000c1;
}

.navigation-btn.prev {
    left: 40px;
}

.navigation-btn.next {
    right: 40px;
}

.navigation-btn:hover {
    box-shadow: 0 7px 25px #ffffffcc;
    transform: scale(1.10);
}

#tab2 .navigation-btn:hover {
    box-shadow: 0 7px 25px #000000;
}


/* ------------------------------------------------------------------------------------------------------  */
/* --------------------------------------------- Report CSS ---------------------------------------------  */
/* ------------------------------------------------------------------------------------------------------  */

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    color: var(--primary-color);
}

.home-btn {
    margin-left: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: scale 0.2s ease;
}

.home-btn img {
    height: 100%;
    width: 100%;
    filter: invert(88%) sepia(7%) saturate(291%) hue-rotate(22deg) brightness(92%) contrast(83%);
}

.home-btn:hover {
    scale: 1.1;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    height: 30vh;
}

.container-1 {
    width: 80%;
    height: 100%;
    left: 30px;
    position: relative;
    display: flex;  
    justify-content: start;  
    padding: 10px;
    padding-left: 0;
}

.name-search-div {
    width: 20%;
    height: 46px;
    position: relative;
    margin-right: 20px;
}

.name-search-div input {
    width: 95%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 15px;
    padding-left: 16px;
}

.name-search-div input:focus {
    outline: solid 2px var(--secondary-color);
    outline-offset: 2px;
}

.name-search-div input::placeholder {
    /* padding: 15px 16px; */
    color: var(--primary-hover-color);
}

.lead-status-select-div {
    position: relative;
    width: 20%;
    /* top: 30px; */
    height: 46px;
}

.lead-status-select {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-hover-color);
    font-size: 15px;
    padding-inline: 2px; 
    padding-left: 16px;  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../static/assets/dropdown.svg");
    background-size: 25px;    
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: calc(100% / 2);
} 

.lead-status-select:focus {
    outline: solid 2px var(--secondary-color);
    outline-offset: 2px;
}

.lead-status-select option {
    color: var(--primary-hover-color);
    padding-right: 10px;
}

.container-2 {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.container-2 .export-btns {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 .export-btns .export-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 10%;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;    
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.container-2 .export-btns .export-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    transition: all 0.3s ease-in;
    border-radius: 50px;
    opacity: 0;
}

.container-2 .export-btns .export-btn:hover {
    color: var(--text-color);
}

.container-2 .export-btns .export-btn:hover::before {
    width: 100%;
    opacity: 1;
}

.table-wrapper {
    top: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    /* padding-top: 15px; */
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
    max-width: 100vw;
    height: calc(100svh - 250px - 40px);
    max-height: calc(100svh - 250px - 40px);
    overflow: scroll;
}

.leads-table {
    /* background: var(--secondary-color); */
    position: relative;
    border: var(--secondary-color);
    padding: 15px 0;
    height: 100%;
    width: 100%;
    /* max-width: 100vw; */
    border-collapse: separate;
    border-spacing: 0;
    /* max-width: 1200px; */
}


.leads-table th,
.leads-table td {
    padding: 12px;
    max-width: fit-content;
    text-align: center;
    border-left: 1px solid #262624;
    border-right: 1px solid #262624; 
}

.leads-table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 18px;
    position: sticky;
    top: 0px;
    text-wrap: nowrap;
    transition: all 0.2s ease;
}

.leads-table th span {
    display: inline-block;
    vertical-align: middle;

    height: 1.3rem;
    width: 1.3rem;
    margin-left: 5px;
    border: 1.5px solid transparent;
    border-radius: 50%;

    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    transition: border 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.leads-table th:hover span {
    border: 1.5px solid #010326;
}

.leads-table th.sort:hover {
    cursor: pointer;
    color: #010326;
    background-color: var(--primary-hover-color);
}

.leads-table th.active span {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.leads-table th.asc span {
    transform: rotate(180deg);
}

.leads-table th.active {
    color: #010326;
    background-color: var(--primary-hover-color);
}

.leads-table td.active {
    color: var(--text-color);
}

.pagination-container {
    position: fixed;
    bottom: 0;    
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination-container .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px ;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination-container .page:not(.disabled):hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    scale: 1.2;
}

.pagination-container .page.numb {
    width: 30px;
    border-radius: 50%;
}

.pagination-container .page.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.pagination-container .page.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
